@page "/Amortizacion"

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Calculadora de Amortización</h3>
            </div>
            <div class=card-body>
                @*monto:*@
                <div class="mb-3">
                    <label class="form-label" for="Fecha">Monto del prestamo:</label>
                        <input @bind="monto" type="number" />
                </div>
                @*tasa*@
                <div class="mb-3">
                    <label class="form-label" for="tasa"> Tasa de interes:</label>
                        <input @bind="tasa" type="number" />
                </div>
                @*tiempo*@
                <div class="col-md-6">
                    <label class="form-label" for="tiempo">Plazo en meses :</label>
                        <input @bind="tiempo" type="number" />
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <button type="button" @onclick="CalcularAmortizacion" class="btn btn-primary input-group-text">
                <i class="oi oi-magnifying-glass " />
            </button>
        </div>
                @if (amortizacionCalculada)
                        {
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Mes</th>
                                        <th>couta</th>
                                        <th>Capital</th>
                                        <th>Intereses</th>
                                        <th>Balance</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var pago in tablaAmortizacion)
                                    {
                                        <tr>
                                            <td>@pago.Mes</td>
                                            <td>@pago.Cuota</td>
                                            <td>@pago.Capital</td>
                                            <td>@pago.Interes</td>
                                            <td>@pago.Balance</td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
                        }
                    
                    <div class="card-footer">
                        <div class="form-row justify-content-sm-between" aria-orientation="vertical">
                            <div class="col-3">
                                <label for="CantidaRegistro" class="col-form-label"><strong>Filas</strong>&nbsp;</label>
                            </div>
                        </div>
                    </div>
                


@code {
    private double monto;
    private double tasa;
    private int tiempo;
    private List<PagoAmortizacion> tablaAmortizacion;
    private bool amortizacionCalculada;

    public class Amortizacion
    {
        public int tiempo { get; set; }
        public double tasa { get; set; }
        public double monto { get; set; }

    }

    private class PagoAmortizacion
    {
       public int Mes { get; set; }
        public Decimal Cuota { get; set; }
        public double Capital { get; set; }
        public double Interes { get; set; }
        public double Balance { get; set; }
    }
    private double GetMonto()
    {
        return monto;
    }

    private double GetTasa()
    {
        return tasa;
    }

    private double GetTiempo()
    {
        return tiempo;
    }
    private Decimal GetCuota(double monto, double tasa , int tiempo)
    {
        double tasamensual = tasa  / 100 / 12;
        double factor = (Math.Pow(1 + tasamensual, tiempo) * tasamensual) / (Math.Pow(1 + tasamensual, tiempo) - 1);
        return Convert.ToDecimal(Math.Round( monto * factor, 2)) ;
    }
    public void SetMonto(double _monto)
    {
        monto = _monto;
    }

    public void SetTasa(double _tasa)
    {
        tasa = _tasa;
    }

    public void SetTiempo(int _tiempo)
    {
        tiempo = _tiempo;
    }


    private void CalcularAmortizacion()
    {
        var amortizacion = new Amortizacion();
        tablaAmortizacion = new List<PagoAmortizacion>();
        var couta = GetCuota(monto,tasa, tiempo);
        var balance = monto;
        double interes , capital ;

        for (int i = 1; i <= tiempo; i++)
        {
            interes = balance * (tasa / 100 / 12 );
            capital = Convert.ToDouble(couta) - interes;
            balance -= capital;

            tablaAmortizacion.Add(new PagoAmortizacion
            {
                Mes = i,
                Cuota = couta,
                Capital = capital,
                Interes = interes,
                Balance = balance,
            });
        }

        amortizacionCalculada = true;
    }

}
