@page "/Amortizacion"

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>Calculadora de Amortización</h3>
            </div>
            <div class=card-body>
                @*monto:*@
                <div class="mb-3">
                    <label class="form-label" for="Fecha">Monto del prestamo:</label>
                        <input @bind="monto" type="number" />
                </div>
                @*tasa*@
                <div class="mb-3">
                    <label class="form-label" for="tasa"> Tasa de interes:</label>
                        <input @bind="tasa" type="number" />
                </div>
                @*tiempo*@
                <div class="col-md-6">
                    <label class="form-label" for="tiempo">Plazo en meses :</label>
                        <input @bind="tiempo" type="number" />
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <div class="btn-group">
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <button type="button" @onclick="CalcularAmortizacion" class="btn btn-primary input-group-text">
                <i class="oi oi-magnifying-glass " />
            </button>
        </div>
                @if (amortizacionCalculada)
                        {
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Mes</th>
                                        <th>Couta</th>
                                        <th>Pago Mensual</th>
                                        <th>Intereses</th>
                                        <th>Balance</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var pago in tablaAmortizacion)
                                    {
                                        <tr>
                                            <td>@pago.Mes</td>
                                            <td>@pago.Cuota</td>
                                            <td>@pago.Capital</td>
                                            <td>@pago.Interes</td>
                                            <td>@pago.Balance</td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
                        }
                    
                    <div class="card-footer">
                        <div class="form-row justify-content-sm-between" aria-orientation="vertical">
                            <div class="col-3">
                                <label for="CantidaRegistro" class="col-form-label"><strong>Filas</strong>&nbsp;</label>
                            </div>
                        </div>
                    </div>
                


@code {
    private double monto;
    private double tasa;
    private int tiempo;
    private List<PagoAmortizacion> tablaAmortizacion;
    private bool amortizacionCalculada;

    public class Amortizacion
    {
        public int tiempo { get; set; }
        public double tasa { get; set; }
        public double monto { get; set; }

    }

    private class PagoAmortizacion
    {
       public int Mes { get; set; }
        public double Cuota { get; set; }
        public double Capital { get; set; }
        public double Interes { get; set; }
        public double Balance { get; set; }
    }
    private double GetMonto(double monto, double tasa)
    {
        double tasaFuncional = tasa /100;
        double InteresFuncional = tasaFuncional * monto;
        double MontoTotal = InteresFuncional + monto ;

        return MontoTotal;
    }
    private double GetCuota(double MontoTotal, int tiempo)
    {
        return MontoTotal / tiempo ;
    }
    private double GetInteres(double monto, double tasa)
    {
        return monto * tasa ;
    }


    private void CalcularAmortizacion()
    {
        var amortizacion = new Amortizacion();
        tablaAmortizacion = new List<PagoAmortizacion>();
        var MontoTotal = GetMonto(monto,tasa);
        var MontoCoutas = GetCuota(MontoTotal, tiempo);
        var MontoInteres = GetInteres(monto,tasa);
        var balance = MontoTotal;
        for (int i = 1; i <= tiempo; i++)
        {
            var interes = balance * (tasa / 100 / 12);
            var capital = MontoCoutas -interes ;
            balance -= capital;

            tablaAmortizacion.Add(new PagoAmortizacion
            {
                Mes = i,
                Cuota = MontoCoutas,
                Capital = MontoTotal,
                Interes = MontoInteres,
                Balance = balance
            });
        }

        amortizacionCalculada = true;
    }

}
