@page "/ConsultaGarantes"
@inject HttpClient httpClient

<div class="card">
    <div class="card-header">
        <h3>Consulta de Garantes</h3>
    </div>

    <div class="card-body">
        <div class="row">
            <button type="button" @onclick="Buscar" class="btn btn-primary input-group-text">
                <i class="oi oi-magnifying-glass " />
            </button>
        </div>
        @if (Garantes is not null)
        {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>GaranteId</th>
                        <th>Nombres</th>
                        <th>Cedula</th>
                        <th>Direcci&oacute;n</th>
                        <th>Telefono</th>
                        <th>Detalle</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var garante in Garantes)
                    {
                        <tr>
                            <td>@garante.GaranteId</td>
                            <td>@garante.Nombres</td>
                            <td>@garante.cedula</td>
                            <td>@garante.Direccion</td>
                            <td>@garante.Telefono</td>

                            <td><a href="RegistroGarantes/@garante.GaranteId">Ver</a></td>
                        </tr>
                    }

                </tbody>

            </table>
        }
    </div>
    <div class="card-footer">
        <div class="form-row justify-content-sm-between" aria-orientation="vertical">
            <div class="col-3">
                <label for="CantidaRegistro" class="col-form-label"><strong>Total de garantes registrados</strong>&nbsp;</label>
                <input id="CantidaRegistro" @bind-value="@conteo" disabled class="form-control" />
            </div>
        </div>
    </div>
</div>

@code {
    public List<Garantes>? Garantes { get; set; }
    public int conteo { get; set; }

    public async Task Buscar()
    {
        Garantes = await httpClient.GetFromJsonAsync<List<Garantes>>($"api/Garantes");

        conteo = Garantes != null ? Garantes!.Count() : 0;
        StateHasChanged();

    }

}